body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ffffff;
  --primary-color-text: #343c6a;
  --secondary-color-text: #b1b1b1;
  --secondary-color: #f5f7fa;
  --accent-color: #2d60ff;
}

.page1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.page1 .montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.page1 .inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.page1 .side {
  width: 12vw;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  border-right: solid;
  border-color: #e6eff5;
  border-width: 1px;
}
.page1 .side .logo {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  border-right: #b1b1b1;
}
.page1 .side .logo .title {
  font-weight: 900;
  color: var(--primary-color-text);
  display: flex;
  text-align: center;
  justify-self: center;
}
.page1 .side .logo:hover {
  cursor: pointer;
  animation: pulsate 2s infinite;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.page1 .side .menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 90%;
  padding-left: -2%;
}
.page1 .side .menu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  color: var(--secondary-color-text);
  height: 5vh;
  font-size: 16px;
}
.page1 .side .menu__item a {
  text-decoration: none;
  color: var(--secondary-color-text);
}
.page1 .side .menu__item .rectangle {
  display: none;
}
.page1 .side .menu__item .icon {
  transition: fill 0.3s ease;
}
.page1 .side .menu__item:hover {
  cursor: pointer;
  color: var(--accent-color);
}
.page1 .side .menu__item:hover .icon {
  filter: invert(105%) sepia(910%) saturate(1000%) hue-rotate(560deg);
}
.page1 .side .menu__item:hover .rectangle {
  display: block;
}
@media (max-width: 376px) {
  .page1 .side {
    display: none;
  }
}
.page1 .main {
  width: 88vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.page1 .main .header {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25vw;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6eff5;
}
.page1 .main .header .menu-mobile {
  display: none;
}
.page1 .main .header .title {
  font-weight: 600;
  color: var(--primary-color-text);
  font-size: 25px;
  margin-left: 3vw;
}
.page1 .main .header .title:hover {
  cursor: pointer;
  animation: pulsate 2s infinite;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.page1 .main .header .functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2vw;
}
.page1 .main .header .functions .search-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 30vw;
  border-radius: 40px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.page1 .main .header .functions .search-container .search-input {
  width: 20vw;
  border-style: hidden;
  background-color: var(--secondary-color);
}
.page1 .main .header .functions .search-container .search-input::-moz-placeholder {
  color: #8ba3cb;
  font-size: 16px;
}
.page1 .main .header .functions .search-container .search-input::placeholder {
  color: #8ba3cb;
  font-size: 16px;
}
.page1 .main .header .functions .search-container .search:hover {
  cursor: pointer;
}
.page1 .main .header .functions .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: auto;
}
.page1 .main .header .functions .icon:hover {
  cursor: pointer;
}
.page1 .main .header .functions .image {
  width: 40px;
  height: 40px;
}
.page1 .main .header .functions .image:hover {
  cursor: pointer;
}
@media (max-width: 376px) {
  .page1 .main .header {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e6eff5;
  }
  .page1 .main .header .menu-mobile {
    display: flex;
  }
  .page1 .main .header .icon {
    display: none;
  }
  .page1 .main .header .search-container {
    display: none;
  }
  .page1 .main .header .search-container .search-input {
    display: none;
  }
  .page1 .main .header .search-container .search-input::-moz-placeholder {
    display: none;
  }
  .page1 .main .header .search-container .search-input::placeholder {
    display: none;
  }
}
.page1 .main .page {
  width: 100%;
  height: 100%;
  background-color: rgb(237, 238, 246);
}/*# sourceMappingURL=page1.css.map */