body {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #ffffff;
  --primary-color-text: #343c6a;
  --secondary-color-text: #b1b1b1;
  --secondary-color: #f5f7fa;
  --accent-color: #2d60ff;
}
.page1 {
  display: flex;
  flex-direction: row;
  position: relative;

  width: 100vw;
  height: 100vh;
  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .side {
    width: 12vw;
    // position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 2%;

    border-right: solid;
    border-color: #e6eff5;
    border-width: 1px;
    .logo {
      width: 100%;
      height: 10%;
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;

      .title {
        font-weight: 900;
        color: var(--primary-color-text);
        display: flex;
        text-align: center;
        justify-self: center;
      }
      border-right: #b1b1b1;
    }
    .logo:hover {
      cursor: pointer;
      animation: pulsate 2s infinite;
    }
    @keyframes pulsate {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 90%;
      padding-left: -2%;
      &__item {
        a {
          text-decoration: none;
          color: var(--secondary-color-text);
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        color: var(--secondary-color-text);
        height: 5vh;
        font-size: 16px;
        .rectangle {
          display: none;
        }
        .icon {
          transition: fill 0.3s ease;
        }
      }
      &__item:hover {
        cursor: pointer;
        color: var(--accent-color);

        .icon {
          filter: invert(105%) sepia(910%) saturate(1000%) hue-rotate(560deg);
        }
        .rectangle {
          display: block;
        }
      }
    }
  }
  @media (max-width: 376px) {
    .side {
      display: none;
    }
  }

  .main {
    width: 88vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .header {
      height: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25vw;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #e6eff5;
      .menu-mobile {
        display: none;
      }
      .title {
        font-weight: 600;
        color: var(--primary-color-text);
        font-size: 25px;
        margin-left: 3vw;
      }
      .title:hover {
        cursor: pointer;
        animation: pulsate 2s infinite;
      }
      @keyframes pulsate {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.05);
        }
        100% {
          transform: scale(1);
        }
      }
      .functions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 2vw;
        .search-container {
          display: flex;
          flex-direction: row;
          gap: 15px;
          width: 30vw;
          border-radius: 40px;
          background-color: var(--secondary-color);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1%;

          .search-input {
            width: 20vw;
            border-style: hidden;
            background-color: var(--secondary-color);
          }
          .search-input::placeholder {
            color: #8ba3cb;
            font-size: 16px;
          }
          .search:hover {
            cursor: pointer;
          }
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: var(--secondary-color);
          border-radius: 50%;
          padding: auto;
        }
        .icon:hover {
          cursor: pointer;
        }
        .image {
          width: 40px;
          height: 40px;
        }
        .image:hover {
          cursor: pointer;
        }
      }
    }
    @media (max-width: 376px) {
      .header {
        display: flex;
        justify-content: space-between;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #e6eff5;
        .menu-mobile {
          display: flex;
        }
        .icon {
          display: none;
        }
        .search-container {
            display: none;
  
            .search-input {
                display: none; }
            .search-input::placeholder {
                display: none; }
           
          }
      }
    }
    .page {
      width: 100%;
      height: 100%;
      background-color: rgb(237, 238, 246);
    }
  }
}
